.app-header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-image: linear-gradient(45deg, rgba(255, 201, 248, 1) 0%, rgba(186, 239, 255, 1) 50%, rgba(150, 255, 157, 1) 100%);
  border-image-slice: 1;
  border-width: 0 0 4px 0;
  border-style: solid;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);

  .title {
    color: var(--color-text);
    text-decoration: none;
    font-size: var(--font-size-large);
    font-weight: bold;
    padding: 1rem;

    &:hover,
    &:focus-visible {
      text-decoration: underline;
    }
  }

  .links {
    display: flex;

    .link {
      font-size: var(--font-size-small);
      color: var(--color-text);
      padding: 1rem;
    }
  }

  .spacer {
    flex-grow: 1;
  }
}

@media (prefers-color-scheme: dark) {
  .app-header {
    background-color: rgba(13, 17, 23, 0.5);
  }
}
