.blog-link {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  border: 2px solid var(--color-border);
  border-radius: 1rem;
  text-decoration: none;

  .title {
    color: var(--color-primary);
    font-size: var(--font-size-large);
    font-weight: bold;
  }

  .detail {
    display: block;
    font-size: var(--font-size-small);
    color: var(--color-text-secondary);
  }

  &:hover,
  &:focus-visible {
    outline: 2px solid var(--color-primary);
    outline-offset: -2px;
  }
}
