@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Zen+Kaku+Gothic+Antique:wght@400;700&display=swap');

@import "github-markdown-css/github-markdown.css";

:root {
  --font-family-sans: 'Inter', 'Zen Kaku Gothic Antique', sans-serif;
  --font-family-mono: 'JetBrains Mono', monospace;
  --font-size-xlarge: 32px;
  --font-size-large: 20px;
  --font-size-base: 16px;
  --font-size-small: 14px;
  --color-primary: #3888ff;
  --color-text: #444;
  --color-text-secondary: #888;
  --color-border: #e0e0e0;
  --color-bg: #fff;

  @media (prefers-color-scheme: dark) {
    --color-text: #fff;
    --color-text-secondary: #bbb;
    --color-border: #555;
    --color-bg: #0d1117;
  }
}

body {
  margin: 0;
  color: var(--color-text);
  font-family: var(--font-family-sans);
  font-size: var(--font-size-base);
  background-color: var(--color-bg);

  a {
    color: var(--color-primary);
  }
}

.markdown-body {
  font-family: inherit;
  --fgColor-accent: var(--ui-primary);
  --focus-outlineColor: var(--ui-primary);

  pre,
  code {
    font-family: var(--font-family-mono);
  }

  a {
    color: var(--color-primary);
  }

  @media (prefers-color-scheme: dark) {
    // highlightがダークモード対応していないため暫定対応
    pre {
      background-color: #f6f8fa;
    }
  }
}
